# Node / React / Next
node_modules/
.next/
dist/
build/

# Java / Spring Boot
target/
*.class

# Python
venv/
__pycache__/
*.pyc

# Env files
.env
.env.*
application-secret.properties

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log